html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;
    background: url(../assets/img/bg.jpg);
    /*overflow: hidden;*/
}

textarea {
    width: 90%;
    min-height: 40%;
}

#result {
    display: none;
    line-height: 3rem;
    font-size: x-large;
    clear: both;
}

.textPanel {
    border: 1px solid black;
    background-color: ghostwhite;
    margin-top: 20px;
}

.readerlistitem {
    font-size: x-large;
    border-radius: 3px;
    background-color: dodgerblue;
    color: seashell;
    margin-top: 10px;
    width: 74%;
    text-align: center;
    padding: 2% 3%;
    cursor: pointer;
    float: left;
    height: 2.3rem;
}

#audiodiv {
    width: 45%;
    float: right;
    display: none;
}

.readerlistitemvocab {
    font-size: x-large;
    border-radius: 3px;
    background-color: purple;
    margin-top: 10px;
    margin-left: 2%;
    width: 10%;
    text-align: center;
    padding: 2% 3%;
    cursor: pointer;
    float: left;
    height: 2.3rem;
    color: yellow;
}

.item {
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
}

.btnActivity {
    font-size: 2rem;
    font-family: 'Bitter', serif;
    width: 500px;
    border-radius: 5px;
    margin: 30px auto;
    background-color: moccasin ;
    border: 3px solid darkgoldenrod;
    text-align: center;
    padding: 10px 16px;
    cursor: pointer;
    box-shadow: 5px 5px 10px;
}

.hideo {
    width: 80%;
    /*height: 100%;*/
    margin: auto;
    border: solid blue 2px;
    padding: 2%;
    background-color: #bdbdbd;
    display: none;
}

#reader {
    text-align: left;
    padding: 3% 4%;
    line-height: 200%;
}

.readerPanel {
    border: 1px solid black;
    border-radius: 3px;
    background-color: cornsilk;
    padding: 1%;
}

#reader > a {
    color: black;
}

.clicked {
    color: rebeccapurple;
    font-weight: bold;
}

.vocabitem {
    width: 94%;
    margin: 40px auto;
    border-radius: 3px;
    background-color: antiquewhite;
    padding: 2% 2%;
}

.vocabitemWord {
font-size: 2rem;
}

#readerblurb {
    width: 35%;
    float: left;
    text-align: left;
}

.vocabitemTranny {
    font-style: italic;
    font-size: large;
}

.word {
    cursor: pointer;
}
#welcome>h1{
    font-size: 4rem;
    background-color: floralwhite;
    /*background-image: url(../assets/img/natural-canvas-pale.jpg);*/
    background-image: url(../assets/img/flops.jpg);
    padding: 20px;
    font-family: 'Play', sans-serif;
    border: 3px solid darkgoldenrod;
    margin: 0 30px;
}
#selectReader{
    overflow: auto;
    margin-top: -6%;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    .hideo {
        width: 92%;
        /*height: 100%;*/
        padding: 2%;
        border: none;
        background-color: #e8e3c3;
        display: none;
    }

    #welcome>h1{
        font-size: 2rem;
        text-align: center;
    }

    #reader{
        margin-top: -6%;
        min-height: 97%;
    }
    #vocab{
        min-height: 97%;
        padding: 3% 4%;
        margin-top: -6%;
    }

    body{
        background-size: cover;
        background-position: 20%;
    }

    .btnActivity{
        font-size: 1.2rem;
        width: 80%;
    }

    input {
        transform: scale(1.6);
        margin: 5px 0 15px 40px;
    }

    button {
        transform: scale(2);
    }

    body {
        font-size: 1.2rem;
        text-align: left;
    }

    #audiodiv {
        width: 45%;
        float: left;
        display: none;
    }

    #readerblurb {
        width: 35%;
        float: left;
        text-align: left;
    }
    #selectReader{
        height: auto;
        overflow: auto;
        padding: 3% 4%;
    }
    .readerPanel{
        border: none;
        background-color: inherit;
        padding: 0;
        font-size: 1.4rem;
        line-height: 260%;
    }
    .swal2-modal button.styled{
        padding: 5px 16px;
    }
}