@import 'login.css';

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;
    /*background: url(../assets/img/bg.jpg);*/
    background-color: #40572b;
    background-image: url("https://www.transparenttextures.com/patterns/tiny-grid.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    overflow-x: hidden;
}

textarea {
    width: 90%;
    min-height: 300px;
    margin-top: 3rem;
}

#result {
    display: none;
    line-height: 3rem;
    font-size: x-large;
    clear: both;
}

.textPanel {
    border: 1px solid black;
    background-color: ghostwhite;
    margin-top: 20px;
}

.textPanel img{
    opacity: 0.5;
}

.textPanel img:hover{
    opacity: 1;
}

.readerlistitem {
    font-size: x-large;
    border-radius: 3px;
    background-color: dodgerblue;
    color: seashell;
    margin-top: 10px;
    width: 60%;
    text-align: center;
    padding: 2% 3%;
    cursor: pointer;
    float: left;
}

.vocabInfo {
    position: relative;
    color: grey;
    margin-top: 10px;
    font-size: small;
}

.vocabitem {
    position: relative;
}

.vocabitem img {
    position: absolute;
    top: 10px;
    right: 10px;
}

#audiodiv {
    width: 25%;
    float: right;
    display: none;
    text-align: left;
}

#audiodiv input{
    display: block;
    margin-bottom: 1.6rem;
}


.audioOptions {
    position: relative;
    background-color: #888c9e;
    display: inline-block;
    border-radius: 10px;
    padding: 0 20px 0 0;
    color: sandybrown;
}

.audioOptions input{
    margin-left: 20px;
}

fieldset{
    margin-top: 2.3rem;
    height: 312px;
}

.readerlistitemvocab {
    font-size: x-large;
    border-radius: 3px;
    background-color: purple;
    margin-top: 10px;
    margin-left: 2%;
    width: 10%;
    text-align: center;
    padding: 2% 1%;
    cursor: pointer;
    float: left;
    color: yellow;
}

.delreader{
    margin: 2% 0 0 0;
    width: 4%;
    cursor: pointer;
    float: left;
}

#dicFrame {
    width: 100%;
    z-index: 2;
    background: floralwhite;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60%;
    display: none;
    overflow: auto;
}

#closeIcon {
    position: fixed;
    bottom: 80px;
    right: 0;
    width: 16%;
}

.item {
    margin: 0 auto;
    /*margin-top: 40px;*/
    width: 80%;
}

.btnActivity {
    font-size: 2rem;
    font-family: 'Bitter', serif;
    width: 500px;
    border-radius: 5px;
    margin: 30px auto;
    background-color: moccasin;
    border: 3px solid darkgoldenrod;
    text-align: center;
    padding: 10px 16px;
    cursor: pointer;
    box-shadow: 5px 5px 10px;
}

.hideo {
    width: 80%;
    /*height: 100%;*/
    margin: auto;
    border: solid blue 2px;
    padding: 2%;
    background-color: #ffffff;
    display: none;
}

#reader {
    text-align: left;
    padding: 3% 4%;
    line-height: 200%;
}

.readerPanel {
    border: 1px solid black;
    border-radius: 3px;
    background-color: cornsilk;
    padding: 1%;
}

.readerPanel img{
    opacity: 0.5;
}

.readerPanel img:hover{
    opacity: 1;
}

#reader > a {
    color: black;
}

.clicked {
    color: rebeccapurple;
    font-weight: bold;
}

.vocabitem {
    width: 94%;
    margin: 40px auto;
    border-radius: 3px;
    background-color: antiquewhite;
    padding: 2% 2%;
}

.vocabitemWord {
    font-size: 2rem;
}

#readerblurb {
    width: 35%;
    float: left;
    text-align: left;
}

.vocabitemTranny {
    font-style: italic;
    font-size: large;
}

.word {
    cursor: pointer;
}

#welcome > h1 {
    font-size: 4rem;
    background-color: floralwhite;
    /*background-image: url(../assets/img/natural-canvas-pale.jpg);*/
    background-image: url(../assets/img/flops.jpg);
    padding: 20px;
    font-family: 'Play', sans-serif;
    border: 3px solid darkgoldenrod;
    margin: 0 30px;
}

#selectReader {
    overflow: auto;
}

#selectReader i{
    margin: 0.55em;
    float: left;
}

input#llWord.llWord, input#tranny.tranny {
    font-size: 20px;
    border-bottom: 1px solid black;
    border-left: 2px solid black;
    padding-left: 5px;
    margin-bottom: 10px;
}

#readerBlurb div {
    position: relative;
    margin-top: 1.4rem;
    overflow: hidden;
}

#audiodiv + div {
    position: relative;
    overflow: hidden;
}

#readerBlurb div input:not([type=checkbox]), #audiodiv + div textarea {
    width: 50%;
    border: 2px solid gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 16px 12px;
    outline: 0;
}

#readerBlurb div input:valid, #audiodiv + div textarea:valid {
    background: white;
}

#readerBlurb div input:focus, #audiodiv + div textarea:focus {
    border-color: #f06d06;
}

#readerBlurb div input:focus + label, #audiodiv + div textarea:focus + label {
    background: #f06d06;
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
}

#readerBlurb div label, #audiodiv + div textarea + label {
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px;
}

#audiodiv + div textarea {
    resize: vertical;
    width: 90%;
}

#readerBlurb div input, #audiodiv + div textarea {
    padding: 12px 12px 12px 12px;
}

#readerBlurb div label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

#audiodiv + div textarea + label {
    top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
}

#readerBlurb div input:focus, #audiodiv + div textarea:focus {
    padding: 4px 6px 20px 6px;
}

#readerBlurb div input:focus + label {
    top: 26%;
    margin-top: 16px;
}

#audiodiv + div textarea:focus + label {
    top: 32px;
    height: 1rem;
    /*margin-top: 16px;*/
}

#text {
    height: 30%;
}

.goalContainer{
    border-radius: 3px;
    padding: 1%;
    width: 92%;
    margin: 0 auto 20px auto;
    background-color: rgba(12,12,12,0.5);
    color: white;
}

.goalName{
    font-size: 1.4rem;
    font-family: "Maiandra GD", Georgia, sans-serif;
}

.goalDescription{
    font-size: 0.9rem;
}

.progressBar1, .progressBar2{
    clear: both;
    border-radius: 3px;
    height: 16px;
    border: 1px solid #111;
    background-color: #aaaaaa;
    box-shadow: 0 0 10px #111111 ;
}
.progressBar1 div, .progressBar2 div{
    border-radius: 3px;
    margin-left: 0;
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 10px;
    width: 0;
    background-color: #333333;
}

.progressBar2{
    margin-top: 10px;
}

.progressBar2 div{
    background-color: royalblue;
}

.startDate{
    float: left;
    margin-left: 3%;
}
.endDate{
    float: right;
    margin-right: 3%;
}

@media only screen and (max-device-width: 736px) and (orientation: portrait) {
    .hideo {
        width: 92%;
        min-height: 97%;
        padding: 2%;
        border: none;
        background-color: #e8e3c3;
        display: none;
        text-align: center;
    }

    #welcome > h1 {
        font-size: 2rem;
        text-align: center;
    }

    #reader {
        margin-top: -6%;
        min-height: 97%;
    }

    #vocab {
        min-height: 97%;
        padding: 3% 4%;
        margin-top: -6%;
    }

    #vocaTest {
        padding: 3% 4%;
        margin-top: -6%;
    }

    body {
        /*background-size: cover;*/

        background-position: 20%;
    }

    .btnActivity {
        font-size: 1.2rem;
        width: 80%;
    }

    input {
        /*transform: scale(1.6);*/
        /*margin: 5px 0 15px 40px;*/
        z-index: 1;
    }

    input:valid {
        background: white;
    }

    button {
        /*transform: scale(2);*/
    }

    body {
        font-size: 1.2rem;
        /*text-align: left;*/
    }

    #audiodiv {
        width: 100%;
        float: left;
        display: none;
    }

    #selectReader {
        overflow: auto;
        padding: 3% 4%;
    }

    #selectReader i{
        margin: 0.3em 0.2em;
    }
    .item{
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .readerlistitem{
        width: 56%;
    }

    .readerlistitemvocab {
        font-size: x-large;
        border-radius: 3px;
        background-color: purple;
        margin-top: 10px;
        margin-left: 1%;
        width: 8%;
        text-align: center;
        padding: 2% 1%;
        cursor: pointer;
        float: left;
        color: yellow;
    }

    .delreader{
        width: 8%;
        margin: 0.7em 0 0 0.5em;
    }

    #createReader {
        width: 100%;
        padding: 0;
        margin-top: -46px;
        min-height: 100%;
    }

    .readerPanel {
        border: none;
        background-color: inherit;
        padding: 0;
        font-size: 1.4rem;
        line-height: 260%;
    }

    .swal2-modal button.styled {
        padding: 5px 16px;
        font-size: 12px;
        margin-right: 20%;
    }

    .llWord, .tranny {
        display: block;
        margin: 1rem auto;
        width: 60%;
    }

    #readerBlurb div {
        position: relative;
        margin-top: 1.4rem;
        overflow: hidden;
    }

    #audiodiv + div {
        position: relative;
        overflow: hidden;
    }

    #readerBlurb div input:not([type=checkbox]), #audiodiv + div textarea {
        width: 50%;
        border: 2px solid gray;
        background: none;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 16px 12px;
        outline: 0;
    }

    #readerBlurb div input:valid, #audiodiv + div textarea:valid {
        background: white;
    }

    #readerBlurb div input:focus, #audiodiv + div textarea:focus {
        border-color: #f06d06;
    }

    #readerBlurb div input:focus + label, #audiodiv + div textarea:focus + label {
        background: #f06d06;
        color: white;
        font-size: 70%;
        padding: 1px 6px;
        z-index: 2;
        text-transform: uppercase;
    }

    #readerBlurb div label, #audiodiv + div textarea + label {
        transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
        position: absolute;
        color: #999;
        padding: 7px 6px;
    }

    #audiodiv + div textarea {
        resize: vertical;
        width: 90%;
    }

    #readerBlurb div input, #audiodiv + div textarea {
        padding: 12px 12px 12px 12px;
    }

    #readerBlurb div label {
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #audiodiv + div textarea + label {
        top: 100px;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #readerBlurb div input:focus, #audiodiv + div textarea:focus {
        padding: 4px 6px 20px 6px;
    }

    #readerBlurb div input:focus + label {
        top: 26%;
        margin-top: 16px;
    }

    #audiodiv + div textarea:focus + label {
        top: 32px;
        height: 1rem;
        /*margin-top: 16px;*/
    }

    #text {
        height: 30%;
    }

    input#llWord.llWord, input#tranny.tranny {

        margin-bottom: 50px;
    }
}

@media only screen /*Samsung Galaxy S7 Edge*/
and (max-width: 1440px)
and (max-height: 2560px) {

    .hideo {
        width: 92%;
        min-height: 97%;
        padding: 2%;
        border: none;
        background-color: #e8e3c3;
        display: none;
        text-align: center;
    }

    #welcome > h1 {
        font-size: 2rem;
        text-align: center;
    }

    #reader {
        /*margin-top: -6%;*/
        min-height: 97%;
    }

    #vocab {
        min-height: 97%;
        padding: 3% 4%;
        margin-top: -6%;
    }

    #vocaTest {
        padding: 3% 4%;
        margin-top: -6%;
    }

    body {
        /*background-size: cover;*/
        background-position: 20%;
    }

    .btnActivity {
        font-size: 1.2rem;
        width: 80%;
    }

    input {
        /*transform: scale(1.6);*/
        /*margin: 5px 0 15px 40px;*/
        z-index: 1;
    }

    input:valid {
        background: white;
    }

    button {
        transform: scale(2);
    }

    body {
        font-size: 1.2rem;
        /*text-align: left;*/
    }

    #audiodiv {
        width: 100%;
        float: left;
        display: none;
    }

    #selectReader {
        overflow: auto;
        padding: 3% 4%;
    }

    #createReader {
        width: 100%;
        /*padding: 0;*/
        margin-top: -46px;
        min-height: 100%;
    }

    .readerPanel {
        border: none;
        background-color: inherit;
        padding: 0;
        font-size: 1.4rem;
        line-height: 260%;
    }

    .swal2-modal button.styled {
        padding: 5px 16px;
        font-size: 12px;
        margin-right: 20%;
    }

    .llWord, .tranny {
        display: block;
        margin: 1rem auto;
        width: 60%;
    }

    input#llWord.llWord, input#tranny.tranny {

        margin-bottom: 50px;
    }

}

/*   phones   */
@media (max-width: 599px) {

}

/*   tablets portrait   */
@media (min-width: 600px) {

}

/*   tablets landscape   */
@media (max-width: 900px) {

}

/*   desktops   */
@media only screen and (min-width: 1200px) {

    .goalContainer{
        /*float:left;*/
        width: 50%;
    }

    .hideo {
        width: 80%;
        /*height: 100%;*/
        margin: auto;
        border: solid blue 2px;
        padding: 2%;
        background-color: #ffffff;
        display: none;
    }
    #createReader{
        width: 80%;
        margin-top: 0;
    }
    #parseBtn{
        border-radius: 4px;
        border: 2px solid #23203b;
        padding: 10px 20px;
        margin: 40px auto;
    }
}

/*   big desktops   */
@media (max-width: 1800px) {

}

.fa-cloud-upload:hover{
    color: green;
}
