.testItem {
    display: none;
}

.wordToTest{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}


.gridItem{
    display: inline-block;
    padding: 2%;
    margin: 2%;
    border-radius: 3px;
    background-color: darkseagreen;
    font-size: large;
    font-weight: bold;
    width: 40%;
}

.grid6Tran {

}


.grid6Word {

}