:root {
    --primary: #FBBC1BFF;
    --secondary: #B3D9E2FF;
    --dark: #212121;
    --light: #FCF9F4;
}

/* #####  vocatest emoticons  ##### */

[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    text-align: center;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%);
    color: var(--secondary);
    /*background: var(--bgDark);*/
    background-color: rgba(0,0,0,0.8);
    padding: 3px;
    border-radius: 5px;
    z-index: 99;
    font-size: small;
}

[data-tooltip]:hover {
    display: inline-block;
}

[data-tooltip]:hover:after {
    display: inline-block;
    bottom: calc(100% + 6px);
}

.testItem {
    display: none;
}

.visible {
    display: block;
}

.card {
    margin: 100px auto 0;
    width: 300px;
    height: 400px;
    perspective: 800px;
    border-radius: 16px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--front {
    /*background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));*/
    /*background: url("https://notborder.org/cobalt/userPics/11%2012%202017%207%2010%20pm%20Office%20Lens.jpg");*/
    /*background-image: url("https://notborder.org/cobalt/userPics/11%2012%202017%207%2010%20pm%20Office%20Lens.jpg");*/
    /*background-size: cover;*/
    background-image: url("../assets/img/kings.png");
}

.card__face--front h2 {
    color: black;
    font-size: 36px;
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__face--back h2 {
    color: black;
    font-size: 36px;
}

.buttonDiv {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin: 6px;
    font-size: 0.8em;
    line-height: 1.42;
    padding: 0.6em 1.2em;
    font-weight: bolder;
    border-width: 0;
    border-style: solid;
    /*background-color: #23203b;*/
    /*border-radius: 0.5em;*/
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    user-select: none;
    vertical-align: bottom;
    transition: box-shadow 0.1s, transform 0.1s;
    border-radius: 12%/50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    transform: scale(1.02);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.4);
}

.btn:active {
    transform: scale(0.99);
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.15) inset;
    transition-duration: 0.05s;
}

.btn-know {
    color: #30b166;
}

.btn-dunno {
    color: red;
}

.wordToTest {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    /*color: var(--primary);*/
}

.gridItem {
    display: inline-block;
    padding: 2%;
    margin: 2%;
    border-radius: 3px;
    background-color: darkseagreen;
    font-size: large;
    font-weight: bold;
    width: 40%;
    user-select: none;
    cursor: pointer;
}

.typingInput {
    margin-top: 2rem;
    font-size: larger;
    width: 50%;
}

.slidey {
    transition: margin-right 0.5s;
    margin-right: -3005px;
}

.slidey-active {
    margin-right: 0;
    transition: margin-right 0.7s;
    transition-timing-function: cubic-bezier(.27, .43, .27, 1.26);
}

#redbutton {
    width: 80px;
    margin-top: 30px;
    position: relative;
}

@media only screen and (max-device-width: 736px) and (orientation: portrait) {
    .slidey img {
        width: 60px;
    }

    .card {
        margin: 80px auto 10px auto;
        width: 300px;
        height: 400px;

    }

    #redbutton {
        width: 60px;
        margin-top: 20px;
        position: relative;
    }

    .slidey {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 389px) {
    .card {
        margin: 10px auto;
        width: 280px;
        height: 300px;
    }

    .buttonDiv {
        margin-top: 10px;
    }

    .card__face h2 {
        font-size: 28px;
    }

    #redbutton {
        width: 50px;
        margin-top: 10px;
        position: relative;
    }

    .slidey img {
        width: 50px;
    }

    .typingInput {
        width: 100%;
    }
}

