.testItem {
    display: none;
}

.visible {
    display: block;
}

.wordToTest {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.gridItem {
    display: inline-block;
    padding: 2%;
    margin: 2%;
    border-radius: 3px;
    background-color: darkseagreen;
    font-size: large;
    font-weight: bold;
    width: 40%;
}

.typingInput {
    margin-top: 2rem;
    font-size: larger;
    width: 100%;
}

.slidey {
    transition: margin-right 0.5s;
    margin-right: -3005px;
}

.slidey-active {
    margin-right: 0;
    transition: margin-right 0.7s;
    transition-timing-function: cubic-bezier(.27, .43, .27, 1.26);
}

#redbutton {
    width: 80px;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

@media only screen and (max-device-width: 736px) and (orientation: portrait) {
    .slidey img {
        width: 70px;
        margin-top: 120px;
    }
}
